.App {
  text-align: center;
}
body {
  width: 100%;
  background-color: rgb(243, 211, 243);
}
h3 {
  color: rgb(132, 71, 160);
  font-size: 22px;
}
.dropdown {
  width: 200px;
  font-size: 16px;
  padding: 10px;
}
.btn {
  height: 50px;
  width: 200px;
  margin-top: 70px !important;
  font-size: 18px !important;
  color: white !important;
  background-color: rgb(29, 165, 228) !important;
}
.btn:hover {
  background-color: rgb(15, 134, 189) !important;
}
.btn:hover span {
  display: none;
}
.btn:hover:after {
  content: "ToolTip!";
  transition-delay: 0.4s;
}
@media only screen and (max-width: 600px) {
  .btn {
    width: 150px !important;
    font-size: 14px !important;
  }
}
